# Shows

## Hosted by me

Sometimes, I host small gigs.

*   [FATAL CLUB \[CASE 03\]](/shows/fatal-club-case-03) (2024-10-12, environment 0g, Osaka)
*   [FATAL CLUB \[CASE 02\]](https://ra.co/events/1946633) (2024-07-05, environment 0g, Osaka)
*   [FATAL CLUB \[CASE 01\]](https://ra.co/events/1876303) (2024-03-24, environment 0g, Osaka)
*   [鏡像破壊](https://www.instagram.com/li/CxabBk0SQfQ/) (2023-11-12, environment 0g, Osaka)
*   [miracle☆sugar - sato♡shin & TohLPeaks Release Party -](https://twitter.com/tohlpeaks/status/1570381932365434880) (2022-10-30, Namba Bears, Osaka)

## Participated as a performer

I can perform both IRL and URL.

### 2025

*   [寅廻祀・第二幕](https://live-tora.com/archives/10207) (2025-04-02, tora, Hyogo)
*   [BIG CHIP NRG](https://www.headfirstbristol.co.uk/whats-on/red-lion-bs5/fri-7-mar-big-chip-nrg-presents-tohlpeaks-eulalie-122154) (2025-03-07, The Red Lion, Bristol)
*   [Day of the droids, Ketapasando y Voidsent](https://siroco.es/eventos/day-of-the-droids-ketapasando-y-voidsent-w-eulalie-live-tohlpeaks-live-autopsy-protocol-akani-live-miut/) (2025-02-27, Siroco, Madrid)
*   [Day of the Droids](https://www.instagram.com/dayofthedroids/reel/DFEWpDACYyr/) (2025-02-22, Sala Taro, Barcelona)
*   [system\_crash](https://x.com/ruehaduki/status/1880249440126337279) (2025-01-24, Bhanc, Osaka)
*   [ZVocal31: Death Insurance Japan Tour Kobe](https://www.instagram.com/li/DDrVkO_S79x/) (2025-01-13, RINKAITEN, Hyogo)

### 2024

*   [system\_crash](https://x.com/cannorin3/status/1853406847950348532) (2024-11-22, Bhanc, Osaka)
*   [Foreground vol.5](https://x.com/madowa9/status/1836737035702567126) (2024-11-16, Triangle, Osaka)
*   [額からワインブラッド](https://live-tora.com/archives/9326) (2024-09-08, tora, Hyogo)
*   [HEAVENS vol.3](https://ra.co/events/1946633) (2024-05-25, Twitch)
*   [Day of the Droids](https://ra.co/events/1900057) (2024-04-28, ZU BAR, Tokyo)
*   [system\_crash](https://twitter.com/kurosu_core/status/1770659894150214122) (2024-03-22, Bhanc, Osaka)
*   [doki doki all night - cure for tortureclub](https://ra.co/events/1883229) (2024-03-16, Lovehaus, Seoul)
*   [Internet!onal vol.2](https://ra.co/events/1882303) (2024-03-16, ACS, Seoul)
*   [Before Sunrise vol.83](https://twitter.com/OSINIOSITEHAIRU/status/1763882192709755263) (2024-03-11, RINKAITEN, Hyogo)
*   [世紀末 vol.73](https://www.conpass.jp/10227.html) (2024-02-02, CONPASS, Osaka)

### 2023

*   [HYPER system\_crash](https://twitter.com/ShakaItchi/status/1735247595952644215) (2023-12-25, Bhanc, Osaka)
*   [D.O.F.D](https://www.instagram.com/li/Cztj0hnyn6g/) (2023-12-16, 火影, Osaka)
*   [AKIRA](http://kyoto-gattaca.jp/schedule/2023/12.html) (2023-12-15, GATTACA, Kyoto)
*   [BHANC 13th Anniversary](https://www.instagram.com/li/CyvV_0lSIJn/) (2023-10-28, Bhanc, Osaka)
*   [CHAOTIC NATURE BRAIN(混沌天然脳)](http://kyoto-gattaca.jp/schedule/2023/8.html) (2023-08-31, GATTACA, Kyoto)
*   [深 : SHRINEY vol.1](https://avyss-magazine.com/2023/08/11/45480/) (2023-08-19, club daphnia, Osaka)
*   [STELLA # 4](https://ra.co/events/1745364) (2023-07-29, Upsidedown, Osaka)
*   [BULLDOZE vol.1](https://avyss-magazine.com/2023/06/18/44157/) (2023-07-15, SPACE, Tokyo)
*   FOREVER YOUNG 2023 AFTER PARTY (2023-06-11, Labar, Osaka)
*   [Rizumu LIVE ACTS ONLY VOL 2](https://twitter.com/mrpaulmanton/status/1642342364000800768) (2023-04-02, VRChat & Twitch)
*   system\_crash (2023-03-27, Bhanc, Osaka)
*   [THE STARBEMS -STUDIO LIVE IN KYOTO-](https://thestarbems.hatenablog.com/entry/9502676) (2023-03-20, Studio Beatfree, Kyoto)
*   [破壊硬戦](https://twitter.com/hakaikousen_NGY/status/1622070545977339905) (2023-03-05, club about, Nagoya)
*   [DEcHm](https://www.instagram.com/li/CoSKxSDyt2U/) (2023-02-22, Club Stomp, Osaka)
*   [desktop](https://avyss-magazine.com/2023/01/12/40916/) (2023-02-19, SOCORE FACTORY, Osaka)
*   [BCTO x THE OUTSIDE](https://twitter.com/BCTOVR/status/1625068977025064961) (2023-02-17, VRChat & Twitch)

### 2022

*   [system\_crash](https://twitter.com/cannorin_vrc/status/1605943918083706880) (2022-12-26, Bhanc, Osaka)
*   [Before Sunrise vol.53](https://twitter.com/OSINIOSITEHAIRU/status/1600811806016311297) (2022-12-24, RINKAITEN, Hyogo)
*   [CLUB: THE UNDERGROUND 3RD ANNIVERSARY PARTY DAY 3 (DJ)](https://twitter.com/cannorin_vrc/status/1580876117715845120) (2022-10-23, Club: The Underground, VRChat)
*   [冥王 〜秋の運動会スペシャル〜 #MayOh\_2022](https://www.youtube.com/channel/UCgOR2qsCZECvtlFClFqLRaA) (2022-10-22, YouTube Live)
*   [SAMPLING](https://twitter.com/otohatoba/status/1559444921676836864) (2022-08-26, Otohatoba, Hyogo)
*   [fuk 70](https://twitter.com/namba_bears1/status/1553695863955804161) (2022-08-19, Namba Bears, Osaka)
*   [powwwerrr](https://avyss-magazine.com/2022/05/19/35949/) (2022-05-29, Twitch)
*   [D.O.F.D.](https://twitter.com/HamaEsaka/status/1511994993304809472) (2022-05-14, Club Stomp, Osaka)
*   [ROCK YOU AMEN](https://twitter.com/othermoon_vrc/status/1496094737429934083) (2022-03-05, THE OUTSIDE, VRChat)
*   [DEcHm](https://twitter.com/d_j_coke/status/1494583411172048901) (2022-02-23, Club Stomp, Osaka)

### 2021

*   [SCRAP (DJ)](https://twitter.com/creepiez_vrc/status/1465275434904350726) (2021-12-11, VRChat)
*   [HYPER system\_crash](https://twitter.com/ruehaduki/status/1460951359843287041) (2021-11-22, Bhanc, Osaka)
*   [CLUB: THE UNDERGROUND 2ND ANNIVERSARY EVENT (DJ)](https://twitter.com/cannorin_vrc/status/1449029772143591430) (2021-10-22, 23, 24, Club: The Underground, VRChat)
*   [#天国夜市](https://www.youtube.com/watch?v=3uuOSiTTtO8) (2021-07-10, YouTube Live)
*   [\[REDACTED\] 001 (DJ)](https://re.dacted.net/001/) (2021-07-03, 04, Twitch)
*   [VREAKTHRU VOL. 2 (DJ)](https://twitter.com/cannorin_vrc/status/1383800314550050825) (2021-04-24, 25, Club: The Underground, VRChat)
*   [Pidgefest](https://www.pidgefest.net/) (2021-04-03, 04, Twitch)
*   [Amen Traffic](https://twitter.com/ShakaItchi/status/1376523552585752579) (2021-04-03, Bhanc, Osaka)
*   RIZUMU Saturday (2021-03-27, VRChat)

### 2020

*   [VREAKTHRU (DJ)](https://twitter.com/cannorin_vrc/status/1332541850813489157) (2020-12-05, Club: The Underground, VRChat)
*   [Club: The Underground 1st Anniversary Party (DJ)](https://twitter.com/cannorin_vrc/status/1314120530509787136) (2020-10-30~31, Club: The Underground, VRChat)
*   [#いえブ](https://twitter.com/othermoon/status/1256199212275924992) (2020-05-03~05, Twitch)
*   [世界妄想博覧会 (DJ)](https://www.facebook.com/events/597321271092311/) (2020-03-21, environment 0g, Osaka)
*   [さんかく弐〇弐〇](https://www.facebook.com/events/613999589378187/) (2020-01-17, Triangle, Osaka)

### 2019

*   [system\_crash](https://twitter.com/tohlpeaks/status/1206577065899610112) (2019-12-23, Bhanc, Osaka)
*   [HELLO GOOD BYE!!](https://www.facebook.com/events/871828496503915/) (2019-06-18, 戦国大統領, Osaka)
*   [LIBIDO HOUSE 20190616](https://www.facebook.com/events/438501876698512) (2019-06-16, Room 19, Osaka)
*   [ていおん！](https://twitter.com/t_on_kei/status/1125707669870759937) (2019-06-01, The Dark Room, Fukuoka)
*   [CAQARECAC Vol.06 feat. Hitori Tori](https://www.facebook.com/events/327963654533288) (2019-05-11, Singh's Kitchen, Osaka)
*   [Fash Smash!! Vol.8](http://twvt.me/facesmash8) (2019-05-11, Triangle, Osaka)
*   [system\_crash](https://twitter.com/kurosu_core/status/1118027606715031552) (2019-04-22,Bhanc, Osaka)
*   [CAQARECAC Vol.05 feat. Ayane Fukumi and sHimaU](https://www.facebook.com/events/617158752054953) (2019-03-02, Singh's Kitchen, Osaka)
*   [妙 -Myow-](https://www.facebook.com/events/230717397816923/) (2019-02-02, お座敷倶楽部, Mie)

### 2018

*   [system\_crash](https://twitter.com/ruehaduki/status/1074598272134606849) (2018-12-24, Bhanc, Osaka)
*   [Save Point Vol.10](https://twitter.com/ASclctv/status/1070672286393487361) (2018-12-15, Chelsea de rumba, Hyogo)
*   [BASS BOX](https://www.facebook.com/events/229207201107363/) (2018-10-21, Advantage, Mie)
*   [世界妄想博覧会13周年記念スペシャル](https://www.facebook.com/events/248857329073930/) (2018-09-23, 戦国大統領, Osaka)
*   [破壊硬戦 25発目](https://twipla.jp/events/328110) (2018-09-09, cafe domina, Nagoya)
*   system\_crash (2018-08-27, Bhanc, Osaka)
*   [Caqarecac × lolicore.jp feat. Himena² from ESP](https://www.facebook.com/events/417535872068092/) (2018-08-11, Singh's Kitchen, Osaka)
*   [さんかく二周年記念祭](https://www.facebook.com/events/209585776312661/) (2018-06-22, Triangle, Osaka)
*   [Save Point Vol.5](https://twitter.com/ASclctv/status/999685300723974144) (2018-06-14, Otohatoba, Hyogo)
*   [system\_crash](https://twitter.com/kurosu_core/status/987990374558793730) (2018-04-23, Bhanc, Osaka)
*   [#SUNCAQHA](https://twitter.com/SUNCAQ/status/972822715257126912) (2018-04-01, Triangle, Osaka)
*   [CAQARECAC -カクアレカシ- Vol.3](https://www.facebook.com/events/162768721180111/) (2018-02-23 Singh's Kitchen, Osaka)

### 2017

*   system\_crash (2017-12-25, Bhanc, Osaka)
*   [CAQARECAC -カクアレカシ- ft. Monster X](https://www.facebook.com/events/1941959749386436/) (2017-11-10, Singh's Kitchen, Osaka)
*   [さんかく１周年記念祭 ft. 廻転楕円体×ばぶちゃんWリリースツアーin大阪](https://www.facebook.com/events/297874280682203/) (2017-09-17, Triangle, Osaka)
*   [破壊硬戦 19発目](http://twipla.jp/events/261632) (2017-07-09, cafe domina, Nagoya)
