@font-face {
    font-family: 'Bricolage Grotesque';
    src: url(/fonts/BricolageGrotesque[opsz,wdth,wght].woff2);
    font-style: normal;
    font-weight: 200 800;
    size-adjust: 110%;
    font-display: swap;
}

:root {
    --primary-color: #212121;
    --primary-background-color: #eeeeee;
    --accent-blue: #0011dd;
    --accent-red: #ee1100;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 4.66vw;
    }

    img {
        width: 90%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
    html {
        font-size: 2.66vw;
    }

    img {
        width: 75%;
    }
}

@media screen and (min-width: 1281px) {
    html {
        font-size: 1.33vw;
    }

    img {
        width: 40%;
    }
}


body {
    color: var(--primary-color);
    background: no-repeat fixed top 0 right 0.625em / 55% url(/images/tlp-grind.svg),
        var(--primary-background-color);
    font-family: 'Bricolage Grotesque', 'Helvetica Neue', 'Arial', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans',
        'Noto Sans JP', 'BIZ UDPGothic', sans-serif;
    font-weight: 400;
    font-variation-settings: "opsz" 24, "wdth" 100, "wght" 400;
    margin: 0 0.625em;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 700;
    font-variation-settings: "opsz" 24, "wdth" 100, "wght" 700;
}

address {
    font-style: normal;
}

a {
    color: var(--accent-blue);

    @media (hover: hover) {
        &:hover {
            color: var(--accent-red)
        }
    }

    &[href*="://"]:not([href^="https://tohlpeaks.party"])::after {
        content: "↗";
        display: inline-block;
        font-size: 0.7rem;
        margin: 0 0.15rem;
        text-decoration: none;
    }
}

img {
    display: block;
    margin-bottom: 0.7rem;
}