@font-face {
    font-family: 'Bricolage Grotesque';
    src: url(/fonts/BricolageGrotesque[opsz,wdth,wght].woff2);
    font-style: normal;
    font-weight: 200 800;
    size-adjust: 110%;
    font-display: swap;
}

:root {
    --primary-color: #212121;
    --primary-background-color: #eeeeee;
    --accent-blue: #0011dd;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 5vw;
    }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
    html {
        font-size: 3vw;
    }

}

@media screen and (min-width: 1281px) {
    html {
        font-size: 1.5vw;
    }

}


body {
    color: var(--primary-color);
    background: no-repeat fixed top 0 right 0.625em / 55% url(/images/tlp-grind.svg),
        var(--primary-background-color);
    font-family: 'Bricolage Grotesque', 'Helvetica Neue', 'Arial', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans',
        'Noto Sans JP', 'BIZ UDPGothic', sans-serif;
    font-weight: 400;
    font-variation-settings: "opsz" 24, "wdth" 100, "wght" 400;
    margin: 0 0.625em;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 700;
    font-variation-settings: "opsz" 16, "wdth" 100, "wght" 700;
}

address {
    font-style: normal;
}

a {
    color: var(--accent-blue);
}
