@font-face {
    font-family: 'Prodigy Sans';
    src: url(/fonts/ProdigySans-Regular.woff2);
    font-weight: 400;
    font-style: normal;
    size-adjust: 108%;
    display: swap;
}

@font-face {
    font-family: 'Prodigy Sans';
    src: url(/fonts/ProdigySans-Italic.woff2);
    font-weight: 400;
    font-style: italic;
    size-adjust: 108%;
    display: swap;
}

@font-face {
    font-family: 'Prodigy Sans';
    src: url(/fonts/ProdigySans-Bold.woff2);
    font-weight: 700;
    font-style: normal;
    size-adjust: 108%;
    display: swap;
}

@font-face {
    font-family: 'Prodigy Sans';
    src: url(/fonts/ProdigySans-BoldItalic.woff2);
    font-weight: 700;
    font-style: italic;
    size-adjust: 108%;
    display: swap;
}


:root {
    --primary-color: #212121;
    --primary-background-color: #eeeeee;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 4vw;
    }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
    html {
        font-size: 2vw;
    }

}

@media screen and (min-width: 1281px) {
    html {
        font-size: 1vw;
    }

}


body {
    color: var(--primary-color);
    background: no-repeat fixed bottom right / 62.5% url(/images/tlp-grind.svg),
        var(--primary-background-color);
    font-family: 'Prodigy Sans', 'Helvetica Neue', 'Arial', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans',
        'Noto Sans JP', 'BIZ UDPGothic', sans-serif;
}

address {
    font-style: normal;
}