@keyframes fade-in {
	from {
		opacity: 0;
		filter: blur(0.05rem);
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
		filter: blur(0.05rem);
	}
}

::view-transition-old(main) {
	animation: fade-out 0.5s ease-out;
}

::view-transition-new(main) {
	animation: fade-in 0.5s ease-in;
}

@media (prefers-reduced-motion) {
	::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none;
	}
}
