@keyframes fade-in {
	from {
		opacity: 0;
		filter: blur(0.01rem);
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
		filter: blur(0.01rem);
	}
}

::view-transition-old(main) {
	animation: 0.6s ease-out both fade-out ;
}

::view-transition-new(main) {
	animation: 0.6s ease-in 0.1s both fade-in ;
}

@media (prefers-reduced-motion) {
	::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none !important;
	}
}
