# Links

I published this page without permissions. If you want to add or remove your website on this
page, hit me up.

**Notice: I will never link to SNS pages. Build your own websites or blogs.**

## Artists

- [cannorin](https://www.cannorin.net/)
- [County Conservation District](https://countyconservationdistrict.com/)
- [drumcorps](https://drumcorps.co/)
- [death insurance](https://deathinsurance.online/)
- [Eulalie](https://eulalie.fun/)

## Organizations

### Labels / Collectives

- [Day of the droids](https://dayofthedroids.wixsite.com/dayofthedroids)
- [Fujimi Industry Records](https://sound.jp/fujimi/)
- [Pure Life](https://www.pvre.life/)
- [奥床式](http://okuyukashiki.com)

### Venues

- [environment 0g](https://nuthings.wordpress.com/)
- [Namba BEARS](https://namba-bears.main.jp)

### Internet radios

- [datafruits.fm](https://datafruits.fm/)
- [Somnyan In-ter-face](https://somnyan.stream/)
