---
title: "2025-08-13"
description: "日記 2025-08-13"
date: "2025-08-13"
draft: false
---

以下の2曲は99%くらいできていて、一秒でも早く世に出したいのだが我慢している。

<video controls>
    <source src="/images/blog/2025-08-13/wip-01.webm" type="video/webm" />
</video>

<video controls>
    <source src="/images/blog/2025-08-13/wip-02.webm" type="video/webm" />
</video>

制作からリリースまではどうしてもラグがあるのだが、どちらも年内にはフルで聴けるようになると思う。
というか、そうする。

<style>
    video {
        margin-block-start: 16px;
    }
</style>